<!DOCTYPE html>
<html>

<head>
    <title>Corso Vue.js</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <style>
        .container {
            margin-top: 50px;
            margin-left: 50px;
        }
    </style>
</head>

<body>
    <div class="container">
        <p class="lead">
            Vue ci permette di renderizzare in maniera dichiarativa dei dati che vogliamo presentare nel DOM, il tutto in maniera molto semplice<br />
            La sintassi che si utilizza per renderizzare i nostri dati dentro html è <code>{{questa}}</code>
        </p>
        <hr />
        <div id="app" class="lead">
            Veniamo al primo esempio:
            <h1>{{ message }}</h1>
            Cosa succede se proviamo a modificare la variabile message?
        </div>
        <hr />
        <div id="app-2" class="lead">
            Un'altro esempio, binding di attributi con la direttiva <code>v-bind</code>:<br />
            <span v-bind:title="message">
                Hover your mouse over me for a few seconds to see my dynamically bound title!
            </span>
        </div>
        <hr />
        <div id="app-3" class="lead">
            Direttiva <code>v-if</code>, per mostrare o nascondere degli elementi:<br />
            <p v-if="visible">La property visible è true!</p>
            Proviamo a modificare la proprietà visible...
        </div>
        <hr />
        <div id="app-4" class="lead">
            Direttiva <code>v-for</code>, per mostrare una lista di elementi contenuti in un array:<br />
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>
        <hr />
        <div id="app-5" class="lead">
            La direttiva <code>v-on</code>si usa per attaccare degli event listener a degli elementi html e richiamare nostri metodi
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>
        <hr />
        <div id="app-6" class="lead">
            <code>v-model</code> serve ad applicare two way binding a degli elementi <code>input</code>
            <p>{{ message }}</p>
            <input v-model="message" class="form-control">
        </div>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        });

        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: 'You loaded this page on ' + new Date()
            }
        });

        var app3 = new Vue({
            el: '#app-3',
            data: {
                visible: true
            }
        });

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [{
                    text: 'Learn JavaScript'
                }, {
                    text: 'Learn Vue'
                }, {
                    text: 'Build something awesome'
                }]
            }
        });

        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'Hello Vue.js!'
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        });

        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'Hello Vue!'
            }
        });

    </script>
</body>

</html>
