<!DOCTYPE html>
<html>

<head>
    <title>Corso Vue.js</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <style>
        #app {
            margin-left: 50px;
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <div id="app" class="container lead">
        <useless-component></useless-component>
        <hr />
        Hmmm questi counter non funzionano benissimo....
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
        <hr />
        Questi funzionano meglio!
        <better-simple-counter></better-simple-counter>
        <better-simple-counter></better-simple-counter>
        <better-simple-counter></better-simple-counter>
        <hr />
        Questo componente prende in input un messaggio
        <data-component-1 message="hello component"></data-component-1>
        <hr />
        Questo componente prende in input un messaggio ma lo passiamo con <code>v-bind</code>
        <data-component-2 v-bind:message="myMessage"></data-component-2>
        Tenente conto che i parametri che passate come proprietà dinamiche dal parent al component, se aggiornate nel parent vengono aggiornate anche nei component....
        <input type="text" v-model="myMessage" class="form-control" />
        <hr />
        Se provate a mutare una property in un componente figlio Vue js vi da warning, vedremo perchè....
        <h4>{{anotherMessage}}</h4>
        <data-component-3 v-bind:message="anotherMessage"></data-component-3>
        <hr />
        Questo è un componente con della validazione...
        <validated-component v-bind:price="productPrice"></validated-component>
        <hr />
        Un componente che emette degli eventi:
        <message-component v-bind:initial-message="writableMessage" v-on:message-changed="childMessageChanged"></message-component>
        <h4>Questo heading è nel parent, message: '{{writableMessage}}'</h4>
        <h4>Il messaggio è stato modificato {{writableMessageUpdateCount}} volte'</h4>
        <hr />
        Esempio di custom input creato come componente<br />
        <trim-input v-model="taxCode"></trim-input>
        <h4>Valore nel parent {{taxCode}}</h4>
        <br />
        Un esempio carino di custom input: <a href="https://jsfiddle.net/chrisvfritz/1oqjojjx/?utm_source=website&utm_medium=embed&utm_campaign=1oqjojjx">currency input</a>
        <hr />
        Componente con template separato:
        <last-component message="Hello template separato!"></last-component>
    </div>
    <script type="text/x-template" id="last-component-template">
        <div>
            Hurra! <br />
            <h4>Questo è un template separato...</h4>
            <h4>valore: {{message}}</h4>
        </div>
    </script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script type="text/javascript">
        //registrazione di un componente
        Vue.component('useless-component', {
            template: '<div>A useless component, but still a component!</div>'
        });

        //nel caso di componenti, data deve essere una function, ma cerchiamo di capire perchè
        var counterData = { counter: 0 };
        Vue.component('simple-counter', {
            template: '<button v-on:click="counter += 1">{{ counter }}</button>',
            //in questo caso è una funzione ma che ritorna sempre la stessa istanza
            data: function () {
                return counterData
            }
        });

        //se invece torniamo istanze diverse per componenti diversi....
        Vue.component('better-simple-counter', {
            template: '<button v-on:click="counter += 1">{{ counter }}</button>',
            data: function () {
                return {
                    counter: 0
                }
            }
        });

        //ogni componente ha un suo isolated scope, ma può acquisire informazioni tramite 'props'
        //in questo caso passeremo message con una proprietà 'literal'
        Vue.component('data-component-1', {
            template: '<h4>Messaggio passato dal parent: {{ message }}</h4>',
            props: ['message']
        });


        //potete utilizzare anche v-bind per passare le proprietà ai componenti
        Vue.component('data-component-2', {
            template: '<h4>Messaggio passato dal parent: {{ message }}</h4>',
            props: ['message']
        });

        //
        Vue.component('data-component-3', {
            template: '<div><h4>Messaggio passato dal parent: {{ message }}</h4><input type="text" class="form-control" v-model="message"></div>',
            props: ['message']
        });


        //è possibile specificare delle regole di validazione per le property props
        Vue.component('validated-component', {
            template: '<div><h4>{{description}} : $ {{ price }}</h4></div>',
            props: {
                description: {
                    type: String,
                    required: false,
                    default: 'Product description'
                },
                price: {
                    type: Number,
                    required: true
                }
            }
        });

        //per la comunicazione child -> parent, il metodo consigliato è quello di usare gli eventi
        //tutte le istanze di Vue implementano un'interaccia per gli eventi che vi consente di:
        //- scatenare degli eventi con $emit
        //- reagire a degli eventi con $on o v-on
        Vue.component('message-component', {
            template: '<div> {{message}} <button v-on:click="changeMessage">Change message</button></div>',
            data: function () {
                return {
                    message: this.initialMessage
                }
            },
            props: ['initialMessage'],
            methods: {
                changeMessage: function () {
                    this.message = "a random message";
                    this.$emit('message-changed', {newMessage: this.message});
                }
            }
        });


        //un utilizzo frequente dei component è ad esempio quello di creare dei custom input
        //per fare questo dovete acquisire una property 'value' ed emettere un evento 'input'
        Vue.component('trim-input', {
            //ref='input' serve ad aggiungere a $refs del nostro componente il riferimento all'elemento DOM dell'input
            template: '<span>Codice fiscale<input type="text" ref="input" v-bind:value="value" v-on:input="updateValue($event.target.value)"></span>',
            props: ['value'],
            methods: {
                // Instead of updating the value directly, this
                // method is used to format and place constraints
                // on the input's value
                updateValue: function (value) {
                    var formattedValue = value.trim();
                    this.$refs.input.value = formattedValue;
                    // Emit the number value through the input event
                    this.$emit('input', formattedValue)
                }
            }
        });

        //una possibilità interessante è quella di specificare un template nel document
        Vue.component('last-component', {
            template: '#last-component-template',
            props: ['message']
        });


        var vm = new Vue({
            el: '#app',
            data: {
                myMessage: "hello component, this is a dynamic message",
                anotherMessage: "another message",
                productPrice: 333,
                writableMessage: "hello!",
                writableMessageUpdateCount: 0,
                taxCode: "BLLMRO79S414G325N"

            },
            methods: {
                childMessageChanged: function (event) {
                    console.log(event);
                    this.writableMessageUpdateCount++;
                    this.writableMessage = event.newMessage;
                }
            }
        })

    </script>
</body>

</html>
